# Dépendances
node_modules/

# Builds
.next/
*.tsbuildinfo
dist/
build/
coverage/

# Variables d’environnement
.env
.env.*
!.env.example

# Fichiers temporaires
*.log
.DS_Store
Thumbs.db
*:Zone.Identifier

# Éditeurs
.vscode/
.idea/

# Turborepo
.turbo/

# Drizzle
drizzle/meta/_journal.json.lock
